
.Main {
height: 100vh;
}

@media screen and (max-width: 767px) {
.headline {
  text-align: center;
  margin-top: 6rem;
}

.headline h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.headline p{
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 0;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.slider {
  width: 100%;
  margin-top: 50px;
  z-index: 0;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.slick-dots {
  display: none !important;
}

.card {
  border: 1px solid #fff;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
}

.card-top h1 {
  font-size: 0.9rem;
  margin: 20px;
}

.card-top > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-bottom {
  text-align: center;
  color: gray;
  margin: 0 1rem 0 1rem;
 }

.carname {
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin: 20px;
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 0;
}

.dots {
  margin-bottom: 0.5rem;
  margin-top: 0.;
}

.social-handle i {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border: 2px solid gray;
  border-radius: 50%;
  color: gray;
}


.category {
  position: relative;
}
.category::before {
  content: '';
  background: rgb(255, 61, 61);
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
}
.car-background {
  width: 100%;
  height: 100%;
  background: rgb(1, 63, 107);
  background-size: 50%;
  border-radius: 50%;
}
}
/* DESKTOP STYLE */
/* DESKTOP STYLE */
/* DESKTOP STYLE */
/* DESKTOP STYLE */
/* DESKTOP STYLE */

@media screen and (min-width: 767px) {
  .headline {
    text-align: center;
    margin-top: 4rem;
  }

  .headline h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 3rem;
  }

  .headline p{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
  }

  .slider-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -9rem;
    margin-left:16rem;
  }
  .slider {
    width: 70%;
    margin-top: 50px;

  }

  .slick-slide > div {
    margin: 0 10px;
    color: black;
  }
  .slick-list {
    margin: 0 -10px;
  }

  .slick-next {
    color: #fff;
    background-color: #97bf10;
    width: 78px;
    height: 64px;
    border-radius: 0 100px 100px 0 ;
    right: -6rem
  }

  .slick-next:hover, .slick-next:disabled, .slick-next:focus {
    color: #fff;
    background-color: #97bf10;
    width: 78px;
    height: 64px;
    border-radius: 0 100px 100px 0 ;
    right: -6rem
  }

  .slick-prev {
    left: -6rem;
    color: #fff;
    background-color: #97bf10;
    width: 78px;
    height: 64px;
    border-radius: 100px 0px 0px 100px;
  }

  .slick-prev:hover, .slick-prev:disabled, .slick-prev:focus {
    left: -6rem;
    color: #fff;
    background-color: #97bf10;
    width: 78px;
    height: 64px;
    border-radius: 100px 0px 0px 100px;
  }

  .card {
    border: none;
    color: black;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .carname {
    background: none;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin: 20px;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 0;
  }

  .dots {
    margin-bottom: 0.5rem;
    margin-top: 0.;
  }

  .social-handle i {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    border: 2px solid gray;
    border-radius: 50%;
    color: gray;
  }

  .card-top > img {
    width: 100%;
    height: 200px;
  }

  .card-bottom {
   text-align: center;
   color: gray;
  }

  .car-background {
    width: 100%;
    height: 100%;
    background: rgb(1, 63, 107);
    background-size: 50%;
    border-radius: 50%;
  }
}
