.table-div {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table td,
.table th {
  padding: 1.5rem 1.5rem;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: darkblue;
  color: #fff;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.delete-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
}

/* responsive */

@media (max-width: 767px) {
  tbody tr {
    width: 90%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
  }
  .table-div {
    width: 90%;
    border-collapse: collapse;
    margin-top: 3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 2rem;
  }

  .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

@media screen and (min-width: 1600px) {
  .table-div {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
