nav {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;
}

.hamburger-icon {
  width: 3em;
  height: 0.5em;
  background-color: #97bf10;
  border-radius: 0.5em;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(234, 236, 255, 0.9);
  backdrop-filter: blur(3px);
}

#menu {
  overflow: hidden;
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.hamburger-icon.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}

.hamburger-icon.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.hamburger-icon.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
}

.hamburger-icon.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu-ul {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-left: 0;
}

.menu-li {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.2rem;
}

.nav-footer {
  margin-left: 0;
}
