.main-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15%;
}

.hidden {
  display: none;
}

.show {
  display: block !important;
}

.bg-white {
  background-color: white !important;
}

.Navbar {
  width: 15rem;
  background-color: white;
  height: 100vh;
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.6);
}

.logo {
  width: 100%;
  margin-top: 3rem;
}

.navbar-ul {
  margin-top: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
}

li {
  list-style: none;
}

.navbar-li {
  padding: 1rem;
  margin-top: 0.2rem;
  cursor: pointer;
}

.navbar-li:hover {
  background-color: #97bf10;
}

.navbar-ul #active {
  background-color: #97bf10;
  color: white;
}

.navbar-li #active {
  background-color: #97bf10;
}

.btn {
  padding: 0.2rem;
}

a {
  text-decoration: none;
}

.NavFooter {
  position: fixed;
  bottom: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Main page */
.main-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-left: 15%;
  margin-left: 15%;
}

.carousel-root {
  width: 100%;
  margin-bottom: 100px;
}

.main {
  display: flex;
  gap: 1rem;
}

.main img {
  width: 40%;
}

.navbar-toggle {
  position: absolute;
  bottom: 80px;
  left: 15rem;
  background-color: #97bf10;
  width: 78px;
  height: 64px;
  border-radius: 0 100px 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar-toggle-hidden {
  left: 0 !important;
}

.navbar-toggle:hover {
  opacity: 0.7;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.menu-li:hover {
  background-color: #97bf10;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: block;
    overflow: hidden;
  }

  .hamburger {
    width: 3rem;
    margin: 1rem;
  }

  .Navbar {
    display: none;
  }

  .navbar-toggle {
    display: none;
  }

  .NavFooter {
    position: sticky;
  }
}

.cars {
  color: rgba(0, 0, 0, 0.377);
}

.log-out-btn {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 30px;
}

.log-out-btn:hover {
  opacity: 0.5;
}

.fa-circle-check {
  color: #97bf10;
  font-size: 24px;
}

.fa-solid {
  font-size: 1.5rem;
}
