.App {
  width: 100vw;
  height: 100vw;
}

.Navbar {
  background-color: white;
  height: 100%;
  width: 15%;
  box-shadow: 0 3px 50px rgb(0 0 0 / 0.2);
}

.logo {
  width: 100%;
  margin-top: 3rem;
}

.navbar-ul {
  font-size: 1.5rem;
  font-weight: bold;
}

li {
  list-style: none;
}

.navbar-li {
  padding: 1rem;
  margin-top: 0.2rem;
}

.navbar-li:hover {
  background-color: #97bf10;
}

.navbar-ul #active {
  background-color: #97bf10;
  color: white;
}

.navbar-li #active {
  background-color: #97bf10;
}
