.auth-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  background-image: url(/src/images/tesla-no-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130%;
  height: 100%;
  width: 100%;
}

.layer {
  background-color: rgba(151, 191, 16, 0.8);
  width: 100%;
  height: 100%;
}

.auth-page h1 {
  color: white;
  letter-spacing: 8px;
}

.auth-page form {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-page form input {
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 2px;
  padding: 2px 12px;
}

.form-btn {
  border-radius: 2px;
  padding: 5px;
  border: none;
  width: 35%;
  align-self: center;
}

.form-btn:hover {
  opacity: 0.7;
}

.input-container {
  position: relative;
}

.invalid-input {
  position: absolute;
  color: red;
  top: 4px;
  right: 16px;
  width: fit-content;
  white-space: nowrap;
}

.red-border {
  border: 1px solid red !important;
}

.auth-link {
  color: white;
}

.auth-link:hover {
  color: white;
  opacity: 0.5;
}
